easyocr==1.7.2
fastapi==0.140.0
numpy==2.5.1
opencv_python==5.0.0.93
opencv_python_headless==5.0.0.93
Pillow==12.3.0
psycopg==3.3.4
pydantic==2.13.4
python-dotenv==1.2.2
rapidocr_onnxruntime==1.2.3
ultralytics==8.4.90